.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

#form1Example13{
    background-color: rgb(221, 241, 241);
}

#form1Example23{
    background-color: rgb(221, 241, 241);
}