/* #ReportButton{
    display: flex!important;
    align-items: end !important;
    margin-left: 90% !important;
} */

.ProjectButton{
margin-left: 80%;
}

.color-picker {
    display: flex;
    align-items: center;
  }
  
  .color-picker select {
    flex: 1;
    padding: 5px;
    border: none;
    cursor: pointer;
  }
  
  .color-preview {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border: 1px solid #ccc;
  }
  
  .Title{
    font-weight: bold;
  }

  .FormHeader{
    font-weight: bold !important;
    color:  white !important;
    background-color: #19105B  !important;
    width: 100%;
  }